.main_container{
margin: 0 auto;
    width: 80%;
    font-size: 16px;
    color: saddlebrown;
}
.obrazok1{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}

.nadpis {
    text-align: center;
}
.obrazok2 {
    width: 100%;
    position: relative;
    opacity: 60%;
}
@media only screen and (min-width: 500px)
{
    .obrazok1 {
        width: 50%;
    }
    .obrazok2 {
        width: 40%;

    }
    .popisarticle {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    width: 50%;
    }
}
