.main_container{
margin: 0 auto;
    width: 80%;
    font-size: 16px;
    color: saddlebrown;
}
.coffee-hands {
    width: 90%;
    opacity: 80%;
    margin: 0 auto;
}
.cont {
    margin: 0 auto;
    width: 80%;
}
.nadpis {
    font-size: 35px;
    text-align: center;
}
.drink {
    opacity: 80%;
}
@media only screen and (min-width: 500px) {

    .tips-article {
      font-size: 30px;
    margin: 0 auto;
    width: 50%;
}
    }
    .health-benefits {
        font-size: 25x;
    }
    .health   {
        font-size: 30px;
    }
    .coffee-drink {
        width: 30%;
        opacity: 80%;
        text-align: center;

    }
    .coffee hands {
        width: 40%;
    }

}
